<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>
  
<%= form_tag import_users_path, method: :post, multipart: true do %>
  <%= file_field_tag :csv_file %>
  <%= submit_tag "CSVをインポート" , class: "btn btn-primary" %> <!--“csvインポート“はbuttonタグで代用可能です。-->
<% end %>


  <table class="table">
    <% @users.each do |user| %>
      <tr>
        <td>
          <div class="col-md-22 col-md-offset-1">
          <% if current_user.admin? && !current_user?(user) %>
          <%= user.name %><br>
          |  <%= link_to "削除", user, method: :delete,
                            data: { confirm: "削除してもよろしいですか？" },
                            class: "btn btn-primary btn-default" %><br>
            <div class="panel-group">
              <div class="panel panel-default">
                <h4 class="panel-title">
                  <button type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" class="btn btn-primary btn-default">編集</button>
                </h4>
              </div>
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= form_with(model:@user,local: true) do |f| %>


                    <%= f.label :name, class: "label-#{yield(:class_text)}" %>
                    <%= f.text_field :name, class: "form-control" %>
                    
                    <%= f.label :email, class: "label-#{yield(:class_text)}" %>
                    <%= f.email_field :email, class: "form-control" %>
                    
                    <%= f.label :department, class: "label-#{yield(:class_text)}" %>
                    <%= f.text_field :department, class: "form-control" %>
                    
                    <%= f.label :password, class: "label-#{yield(:class_text)}" %>
                    <%= f.password_field :password, class: "form-control" %>
                    
                    <%= f.label :basic_time, class: "label-#{yield(:class_text)}" %>
                    <%= f.time_field :basic_time, class: "form-control" %>
                    
                    <%= f.label :designated_work_start_time, "指定勤務開始時間", class: "label-#{yield(:class_text)}" %>
                    <%= f.time_field :designated_work_start_time, class: "form-control" %>
                    
                    <%= f.label :designated_work_end_time, "指定勤務終了時間", class: "label-#{yield(:class_text)}" %>
                    <%= f.time_field :designated_work_end_time, class: "form-control" %>
                    
                    <%= f.submit "編集する", class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>  
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <!--モーダルウィンドウ表示-->
  <div id="edit_basic_info" class="modal fade" tabindex="1" role="dialog" aria-hidden="true"></div>